{% extends "auth/base.html" %} {% block title %}회원가입{% endblock %} {%block
content %}
    <h1>회원가입</h1>
    <form id="signupForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br />
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required /><br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required /><br />
      <button type="submit">Sign Up</button>
    </form>
    <a href="{{url_for('auth.login_user')}}">로그인하기</a>

    <div id="message"></div>
  {% endblock %} {% block script %}
  <script>
    document
      .getElementById("signupForm")
      .addEventListener("submit", async function (event) {
        event.preventDefault();

        const formData = {
          username: document.getElementById("username").value,
          email: document.getElementById("email").value,
          password: document.getElementById("password").value,
        };

        try {
          const response = await fetch("/auth/register", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(formData),
          });

          const data = await response.json();
          document.getElementById("message").textContent = data.message;
        } catch (error) {
          console.error("Error:", error);
        }
      });
  </script>
</html>
{% endblock %}